* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ico binary
*.wav binary
*.ogg binary
*.mp3 binary
*.ttf binary
*.otf binary
*.dll binary
*.so binary
*.dylib binary
